<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="logo">
      <h1 class="text-light">
        <img src="/images/Soccer_ball.svg.png" height="40" width="50" class="m-2">
        <a href="index.html"><span>Sports Blog</span></a>
      </h1>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <% if(user){ %>
          <li><a href="/category">Category</a></li>
        <li><a href="/post">Post</a></li>
        <li><a href="/category/create">Add Category</a></li>
        <li><a href="/post/create">Add Post</a></li>
        <li class="dropdown">
          <a href="#"
            ><span>More</span> <i class="bi bi-chevron-down"></i
          ></a>
          <ul>
            <li><a href="/auth/logout">Log Out</a></li>
            <li><a href="/auth/settings">Settings</a></li>
            <li><a href="/users">Users</a></li>
          </ul>
        </li>
        <% } else{ %>  
          <li><a href="/auth/login">Log In</a></li>
          <li><a href="/auth/register">Register</a></li>
       <% } %>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
