.wrapped-space {
    white-space: pre-wrap;
}

body {
    background: url('../images/652953.jpg');
}

main {
    background-color: aliceblue;
    padding: 0.5rem 1rem;
}

.post-image {
    max-width: 300px;
    max-height: 300px;
}

.delete-image {
    max-width: 500px;
    max-height: 500px;
    margin: 0.5rem auto;
}